:root {

}


/* Add blinking animation to text*/
.blink{
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




* {
  box-sizing: border-box;
}

.zoom {
  transition: transform 1s;
}

.zoom:hover {
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  transform: scale(.9);
}